body {
  font-family: "Roboto", sans-serif;
  background-color: #6f2dbd;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
}

.startQuiz {
  background-color: #45a049;
  color: white;
  border: 0;
  padding: 8px 16px;
  margin-top: 16px;
  width: 100%;
  border-radius: 4px;
}

.timer {
  color: #b9faf8;
}

.question {
  background: #a663cc;
  color: #b9faf8;
  border-radius: 50%;
  width: 225px;
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.answer .userInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.answer .userInput input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.answer .submit input {
  background-color: #45a049;
  color: white;
  border: 0;
  padding: 8px 16px;
  margin-top: 16px;
  width: 100%;
  border-radius: 4px;
}

.pointsCounter .totalCorrect {
  font-family: "Happy Monkey", cursive;
  color: #bada55;
  padding: 5px;
}

.pointsCounter .totalWrong {
  font-family: "Happy Monkey", cursive;
  color: #f76262;
  padding: 5px;
}

.pointsCounter .totalAnswered {
  font-family: "Happy Monkey", cursive;
  color: white;
  font-weight: bold;
}

footer {
  background: #b298dc;
}

.bounce-arrow {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: bounce-arrow;
          animation-name: bounce-arrow;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes bounce-arrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce-arrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.i-image {
  width: 174px;
  max-width: 100%;
}

.hide {
  display: none;
}

.endResults {
  color: #b9faf8;
}
/*# sourceMappingURL=style.css.map */